.header {
  justify-content: space-between;
  padding: 24px 20px;
}

.logo{
  font-family: 'Inter bold';
}

.links {
  gap: 12px;
}
section {
  padding-inline: 20px;
}
.first {
  position: relative;
  
  .name {
    position: relative;
    z-index: 5;
    font-family: 'EB Garamond regular';
    font-size: 72px;
  }

  img {
    width: 120px;
    position: absolute;
    z-index: 1;
  }

  .triangle {
    right: 0;
    top: 30px;
  }
  .circle {
    top: 130px;
  }
}

.second {
  padding-top: 30px;
  padding-bottom: 38px;

  .title {
    display: flex;
    color: #ccc;
  }
  
  .text {
    color: #F5F5F5;
    padding-top: 24px;
    gap: 24px;
  }
}

.third {
  gap: 32px;
  padding-block: 40px;

  .title {
    font-family: 'EB Garamond regular';
    font-size: 28px;
  }

  .list {
    gap: 20px;
    padding-left: 16px;

    .item {
      font-family: 'Inter bold';
    }
  }
}

.fourth {
  gap: 32px;
  padding-block: 40px 60px;
  color: #F5F5F5;

  .title {
    font-family: 'EB Garamond regular';
    font-size: 28px;
  }

  .cards_container {
    gap: 32px;
    
    .card {
      gap: 8px;
      border-radius: 30px;
      padding: 20px;

      img {
        width: 100px;
      }

      .card_name {
        font-family: 'Inter bold';
      }
      .card_header {
        font-family: 'EB Garamond regular';
        font-size: 22px;
      }
    }
  }
}

hr {
  border-color: #FEE42A;
}

.footer {
  justify-content: space-between;
  padding: 20px;
  color: #F5F5F5;

  .footer_links {
    gap: 16px;
  }
}